.container {
    padding: 10px !important;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(0deg, transparent 0%, var(--nextui-colors-background) 70%);
    z-index: 98;
}

.avatar {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;

    img {
        transform: scale(1.2);
    }
}

.right {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px;
}

.logo {
    height: 50px;
    width: 50px;
    object-fit: contain;
}