.button {
    max-width: 50px;
    min-width: 50px !important;
    height: 50px !important;
    color: inherit;

    &.small {
        max-width: 40px;
        min-width: 40px !important;
        height: 40px !important;
    }
}