.title {
    text-align: center;
    margin: 3rem 1rem;
}

.form {
    max-width: 600px;
    margin: 0 auto;
    border-radius: var(--nextui-radii-2xl);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    gap: 1rem;
    text-align: center;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: var(--nextui-colors-backgroundSecondary);
        z-index: -1;
        opacity: 0.6;
        transition: opacity 0.2s;
    }

    &:hover::before {
        opacity: 0.8;
    }

    &:has(:focus)::before {
        opacity: 0.8;
    }

    .input {
        margin-bottom: 2rem;
    }

    .notice {
        font-size: var(--nextui-fontSizes-lg);
        margin-bottom: 1.5rem;
    }

    .modalOpen {
        margin: 0 auto;
    }
}

.modalClose {
    margin: 0 auto;
}